
body {
    --main-color1: #1C2657;
    --main-color2: #7957C2;
    --main-color3: #5957C2;
    margin: 0;
    background: var(--main-color2);
}

.svg {
    filter: drop-shadow(4px 4px 4px black 50%);
}

input {
    width: calc(100% - 160px);
    height: 100px;
    background-color: white;
    color: black;
    font-family: Inter;
    font-size: 50px;
    border-radius: 30px;
    border: none;
    margin: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.send-button {
    width: calc(100% - 200px);
    background-color: white;
    color: black;
    font-family: Inter;
    font-size: 65px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    margin: 70px;
    display: flex;
}

span {
    color: white;
    font-family: Inter;
    font-size: 50px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

header {
    width: 100%;
    height: 199px;
    background: var(--main-color1);
    position: fixed;
    z-index: 4;
    display: flex;
}
.mini-profile {
    position: relative;
    width: calc(100% - 199px - 32px);
    top: 32px;
    height: 134px;
}
.mini-profile .avatar {
    position: absolute;
    width: 134px;
    height: 134px;
    right: 0px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 0px black;
}
.mini-profile span {
    position: absolute;
    width: calc(100% - 134px - 32px);
    height: 50%;
    right: calc(134px + 32px);
    border-radius: 50%;
    text-align: end;
}
.mini-profile .username {
    top: 50%;
    font-size: 40px;
    font-weight: 400;
}
.mini-profile .name {
    font-size: 50px;
    font-weight: 500;
}
.menu-button {
    position: relative;
    top: 0px;
    left: 0px;
    width: 199px;
    height: 199px;
}
.menu-button img {
    position: relative;
    top: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    height: 199px;
    background: var(--main-color1);
    position: fixed;
    bottom: 0px;
    z-index: 4;
    display: flex;
}
.navigate-button {
    position: relative;
    width: 20%;

}
.navigate-button img {
    position: relative;
    top: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#selector {
    position: absolute;
    height: 100%;
    width: 20%;
    transition: left 150ms ease-out;
}
#selector img {
    position: relative;
    top: 160px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.settings-side-panel {
    position: fixed;
    z-index: 6;
    background: var(--main-color1);
    transition: left 150ms;
    top: 0px;
    left: -900px;
    height: 100vh;
    width: 900px;
}
.profile-side-panel {
    position: fixed;
    z-index: 6;
    background: var(--main-color1);
    transition: right 150ms;
    top: 0px;
    right: -900px;
    height: 100vh;
    width: 900px;
}
.input-bottom-panel {
    border-radius: 30px 30px 0 0;
    position: fixed;
    z-index: 6;
    background: var(--main-color1);
    transition: bottom 150ms;
    bottom: -900px;
    height: 900px;
    width: 100vw;
}
.screen-blur {
    position: fixed;
    z-index: -1;
    background: black;
    transition: opacity 100ms;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

.settings-side-panel.opened {
    left: 0px;
}
.profile-side-panel.opened {
    right: 0px;
}
.input-bottom-panel.opened {
    bottom: 0px;
}
.screen-blur.opened {
    z-index: 5;
    opacity: 0.4;
}

.app {
    position: fixed;
    top: 199px;
}
.app .page {
    position: fixed;
    overflow: scroll;
    width: 100vw;
    height: calc(100vh - 199px - 199px);
    transition: left 150ms ease-out;
}

.inner-header {
    display: flex;
    flex-direction: column;
}

.inner-header img {
    width: 570;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.inner-header span {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 15px;
}

.page .blue {
    background-color: var(--main-color3);
}
.page .purple {
    background-color: var(--main-color2);
}
.page > .padding {
    padding-left: 3.7vw;
    padding-right: 3.7vw;
}

.wallet-sum {
    display: flex;
    flex-direction: column;
}

.wallet-sum span {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 130px;
    font-weight: 600;
}

button span {
    font-weight: 700;
}
button {
    display: flex;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    border: none;
    background-color: var(--main-color1);
    height: 160px;
    width: 100%;
    margin-bottom: 24px;
}
button .svg, span {
    margin: auto;
}
button.wide {
    height: 230px;
    flex-direction: column;
    padding: 30px;
}

.gradient-bottom-top {
    background-image:
        linear-gradient(0deg,  rgba(0, 0, 0, .25) 0%,
        rgba(0, 0, 0, 0) 100%);
    height: 30px;
    width: 100%;
}

.gradient-top-bottom {
    background-image:
        linear-gradient(0deg,  rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, .25) 100%);
    height: 30px;
    width: 100%;
}

.graph-area {
    display: flex;
}

.graph {
    margin: auto;
}

.graph-income, .graph-expense {
    position: relative;
    width: 155px;
    height: 800px;
}
.graph-income > .f {
    border-radius: 25px 0px 0px 25px;
    background-color: #FF0101;
    position: absolute;
    width: 125px;
    bottom: 0px;
}
.graph-income > .m {
    border-radius: 0px 25px 25px 25px;
    background-color: #8FFF00;
    position: absolute;
    left: 30px;
    width: 95px;
    bottom: 0px;
}
.graph-income > .l {
    border-radius: 25px;
    background-color: #44FE02;
    position: absolute;
    left: 30px;
    width: 125px;
    bottom: 0px;
}
.graph-expense > .f {
    border-radius: 0px 25px 25px 0px;
    background-color: #44FE02;
    position: absolute;
    left: 30px;
    width: 125px;
    bottom: 0px;
}
.graph-expense > .m {
    border-radius: 25px 0px 25px 25px;
    background-color: #FF5C00;
    position: absolute;
    left: 30px;
    width: 95px;
    bottom: 0px;
}
.graph-expense > .l {
    border-radius: 25px;
    background-color: #FF0101;
    position: absolute;
    width: 125px;
    bottom: 0px;
}

.graph-month-name {
    width: 155px;
    display: flex;
}
.graph-month-name > span {
    font-weight: 500;
    font-size: 33px;
    margin: auto;
}

.category {
    display: flex;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    background-color: var(--main-color1);
    height: 100px;
    width: 100%;
    margin-bottom: 24px;
}

.ratio-bar-background {
    position: absolute;
    left: calc(50% - 400px);
    width: 800px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.4);
}
.ratio-bar {
    position: absolute;
    left: calc(50% - 400px);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #44FE02;
}

.company {
    display: flex;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    background-color: var(--main-color1);
    height: 230px;
    width: 100%;
    margin-bottom: 32px;
}
.company > .logo {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
    background-color: var(--main-color2);
    height: 122px;
    width: 122px;
    margin: 53px;
}
.company > .info {
    margin: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}
.company > .info > .name {
    margin-left: 0;
    font-size: 70px;
}
.company > .info > .changes {
    margin-left: 0;
    font-size: 45px;
}